apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-demo
  template:
    metadata:
      labels:
        app: java-demo
    spec:
      containers:
      - name: java-demo
        image: java-demo:latest
        imagePullPolicy: Never

        env:
        - name: PYROSCOPE_APPLICATION_NAME
          value: "java-demo"
        - name: PYROSCOPE_SERVER_ADDRESS
          value: "http://pyroscope:4040"
        - name: PYROSCOPE_PROFILER_EVENT
          value: "cpu"

        # Optional visibility inside UI
        - name: PYROSCOPE_LABELS
          value: "env=dev,service=java-demo"

