apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-demo
  template:
    metadata:
      labels:
        app: java-demo
    spec:
      containers:
      - name: demo
        image: java-demo:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 100m
